/*
 * FouleFactoryApi.PCL
 *
 * This file was automatically generated by APIMATIC v2.0 ( https://apimatic.io ) on 09/14/2016
 */
using System;
using System.Collections.Generic;
using System.Dynamic;
using System.Globalization;
using System.IO;
using System.Linq;
using System.Text;
using System.Threading.Tasks;
using FouleFactoryApi.PCL;
using FouleFactoryApi.PCL.Http.Request;
using FouleFactoryApi.PCL.Http.Response;
using FouleFactoryApi.PCL.Http.Client;
using FouleFactoryApi.PCL.Exceptions;
using FouleFactoryApi.PCL.Models;

namespace FouleFactoryApi.PCL.Controllers
{
    public partial class AccountController: BaseController
    {
        #region Singleton Pattern

        //private static variables for the singleton pattern
        private static object syncObject = new object();
        private static AccountController instance = null;

        /// <summary>
        /// Singleton pattern implementation
        /// </summary>
        internal static AccountController Instance
        {
            get
            {
                lock (syncObject)
                {
                    if (null == instance)
                    {
                        instance = new AccountController();
                    }
                }
                return instance;
            }
        }

        #endregion Singleton Pattern

        /// <summary>
        /// TODO: type endpoint description here
        /// </summary>
        /// <param name="transactionId">Required parameter: Example: </param>
        /// <param name="acceptLanguage">Optional parameter: Example: fr</param>
        /// <return>Returns the dynamic response from the API call</return>
        public dynamic GetAccountValidateTransaction(string transactionId, string acceptLanguage = "fr")
        {
            Task<dynamic> t = GetAccountValidateTransactionAsync(transactionId, acceptLanguage);
            Task.WaitAll(t);
            return t.Result;
        }

        /// <summary>
        /// TODO: type endpoint description here
        /// </summary>
        /// <param name="transactionId">Required parameter: Example: </param>
        /// <param name="acceptLanguage">Optional parameter: Example: fr</param>
        /// <return>Returns the dynamic response from the API call</return>
        public async Task<dynamic> GetAccountValidateTransactionAsync(string transactionId, string acceptLanguage = "fr")
        {
            //the base uri for api requestss
            string _baseUri = Configuration.BaseUri;

            //prepare query string for API call
            StringBuilder _queryBuilder = new StringBuilder(_baseUri);
            _queryBuilder.Append("/v1.1/accounts/validateTransaction");

            //process optional query parameters
            APIHelper.AppendUrlWithQueryParameters(_queryBuilder, new Dictionary<string, object>()
            {
                { "transactionId", transactionId }
            });


            //validate and preprocess url
            string _queryUrl = APIHelper.CleanUrl(_queryBuilder);

            //append request with appropriate headers and parameters
            var _headers = new Dictionary<string,string>()
            {
                { "user-agent", "APIMATIC 2.0" },
                { "accept", "application/json" },
                { "Accept-Language", (null != acceptLanguage) ? acceptLanguage : "fr" }
            };

            //prepare the API call request to fetch the response
            HttpRequest _request = ClientInstance.Get(_queryUrl,_headers, Configuration.BasicAuthUserName, Configuration.BasicAuthPassword);

            //invoke request and get response
            HttpStringResponse _response = (HttpStringResponse) await ClientInstance.ExecuteAsStringAsync(_request);
            HttpContext _context = new HttpContext(_request,_response);
            //handle errors defined at the API level
            base.ValidateResponse(_response, _context);

            try
            {
                return APIHelper.JsonDeserialize<dynamic>(_response.Body);
            }
            catch (Exception _ex)
            {
                throw new APIException("Failed to parse the response: " + _ex.Message, _context);
            }
        }

        /// <summary>
        /// Payin
        /// </summary>
        /// <param name="model">Required parameter: Example: </param>
        /// <param name="acceptLanguage">Optional parameter: Example: fr</param>
        /// <return>Returns the dynamic response from the API call</return>
        public dynamic CreateAccountPayIn(PayinServiceModel model, string acceptLanguage = "fr")
        {
            Task<dynamic> t = CreateAccountPayInAsync(model, acceptLanguage);
            Task.WaitAll(t);
            return t.Result;
        }

        /// <summary>
        /// Payin
        /// </summary>
        /// <param name="model">Required parameter: Example: </param>
        /// <param name="acceptLanguage">Optional parameter: Example: fr</param>
        /// <return>Returns the dynamic response from the API call</return>
        public async Task<dynamic> CreateAccountPayInAsync(PayinServiceModel model, string acceptLanguage = "fr")
        {
            //the base uri for api requestss
            string _baseUri = Configuration.BaseUri;

            //prepare query string for API call
            StringBuilder _queryBuilder = new StringBuilder(_baseUri);
            _queryBuilder.Append("/v1.1/accounts/payin");


            //validate and preprocess url
            string _queryUrl = APIHelper.CleanUrl(_queryBuilder);

            //append request with appropriate headers and parameters
            var _headers = new Dictionary<string,string>()
            {
                { "user-agent", "APIMATIC 2.0" },
                { "accept", "application/json" },
                { "content-type", "application/json; charset=utf-8" },
                { "Accept-Language", (null != acceptLanguage) ? acceptLanguage : "fr" }
            };

            //append body params
            var _body = APIHelper.JsonSerialize(model);

            //prepare the API call request to fetch the response
            HttpRequest _request = ClientInstance.PostBody(_queryUrl, _headers, _body, Configuration.BasicAuthUserName, Configuration.BasicAuthPassword);

            //invoke request and get response
            HttpStringResponse _response = (HttpStringResponse) await ClientInstance.ExecuteAsStringAsync(_request);
            HttpContext _context = new HttpContext(_request,_response);
            //handle errors defined at the API level
            base.ValidateResponse(_response, _context);

            try
            {
                return APIHelper.JsonDeserialize<dynamic>(_response.Body);
            }
            catch (Exception _ex)
            {
                throw new APIException("Failed to parse the response: " + _ex.Message, _context);
            }
        }

        /// <summary>
        /// Get wallet
        /// </summary>
        /// <return>Returns the dynamic response from the API call</return>
        public dynamic GetAccountGetWallet()
        {
            Task<dynamic> t = GetAccountGetWalletAsync();
            Task.WaitAll(t);
            return t.Result;
        }

        /// <summary>
        /// Get wallet
        /// </summary>
        /// <return>Returns the dynamic response from the API call</return>
        public async Task<dynamic> GetAccountGetWalletAsync()
        {
            //the base uri for api requestss
            string _baseUri = Configuration.BaseUri;

            //prepare query string for API call
            StringBuilder _queryBuilder = new StringBuilder(_baseUri);
            _queryBuilder.Append("/v1.1/accounts/wallet");


            //validate and preprocess url
            string _queryUrl = APIHelper.CleanUrl(_queryBuilder);

            //append request with appropriate headers and parameters
            var _headers = new Dictionary<string,string>()
            {
                { "user-agent", "APIMATIC 2.0" },
                { "accept", "application/json" }
            };

            //prepare the API call request to fetch the response
            HttpRequest _request = ClientInstance.Get(_queryUrl,_headers, Configuration.BasicAuthUserName, Configuration.BasicAuthPassword);

            //invoke request and get response
            HttpStringResponse _response = (HttpStringResponse) await ClientInstance.ExecuteAsStringAsync(_request);
            HttpContext _context = new HttpContext(_request,_response);
            //handle errors defined at the API level
            base.ValidateResponse(_response, _context);

            try
            {
                return APIHelper.JsonDeserialize<dynamic>(_response.Body);
            }
            catch (Exception _ex)
            {
                throw new APIException("Failed to parse the response: " + _ex.Message, _context);
            }
        }

        /// <summary>
        /// Create new account
        /// </summary>
        /// <param name="acc">Required parameter: Example: </param>
        /// <param name="acceptLanguage">Optional parameter: Example: fr</param>
        /// <return>Returns the dynamic response from the API call</return>
        public dynamic CreateAccountCreateAccount(AccountWriterServiceModel acc, string acceptLanguage = "fr")
        {
            Task<dynamic> t = CreateAccountCreateAccountAsync(acc, acceptLanguage);
            Task.WaitAll(t);
            return t.Result;
        }

        /// <summary>
        /// Create new account
        /// </summary>
        /// <param name="acc">Required parameter: Example: </param>
        /// <param name="acceptLanguage">Optional parameter: Example: fr</param>
        /// <return>Returns the dynamic response from the API call</return>
        public async Task<dynamic> CreateAccountCreateAccountAsync(AccountWriterServiceModel acc, string acceptLanguage = "fr")
        {
            //the base uri for api requestss
            string _baseUri = Configuration.BaseUri;

            //prepare query string for API call
            StringBuilder _queryBuilder = new StringBuilder(_baseUri);
            _queryBuilder.Append("/v1.1/accounts");


            //validate and preprocess url
            string _queryUrl = APIHelper.CleanUrl(_queryBuilder);

            //append request with appropriate headers and parameters
            var _headers = new Dictionary<string,string>()
            {
                { "user-agent", "APIMATIC 2.0" },
                { "accept", "application/json" },
                { "content-type", "application/json; charset=utf-8" },
                { "Accept-Language", (null != acceptLanguage) ? acceptLanguage : "fr" }
            };

            //append body params
            var _body = APIHelper.JsonSerialize(acc);

            //prepare the API call request to fetch the response
            HttpRequest _request = ClientInstance.PostBody(_queryUrl, _headers, _body, Configuration.BasicAuthUserName, Configuration.BasicAuthPassword);

            //invoke request and get response
            HttpStringResponse _response = (HttpStringResponse) await ClientInstance.ExecuteAsStringAsync(_request);
            HttpContext _context = new HttpContext(_request,_response);
            //handle errors defined at the API level
            base.ValidateResponse(_response, _context);

            try
            {
                return APIHelper.JsonDeserialize<dynamic>(_response.Body);
            }
            catch (Exception _ex)
            {
                throw new APIException("Failed to parse the response: " + _ex.Message, _context);
            }
        }

        /// <summary>
        /// Get my account
        /// </summary>
        /// <return>Returns the dynamic response from the API call</return>
        public dynamic GetAccountGet()
        {
            Task<dynamic> t = GetAccountGetAsync();
            Task.WaitAll(t);
            return t.Result;
        }

        /// <summary>
        /// Get my account
        /// </summary>
        /// <return>Returns the dynamic response from the API call</return>
        public async Task<dynamic> GetAccountGetAsync()
        {
            //the base uri for api requestss
            string _baseUri = Configuration.BaseUri;

            //prepare query string for API call
            StringBuilder _queryBuilder = new StringBuilder(_baseUri);
            _queryBuilder.Append("/v1.1/accounts");


            //validate and preprocess url
            string _queryUrl = APIHelper.CleanUrl(_queryBuilder);

            //append request with appropriate headers and parameters
            var _headers = new Dictionary<string,string>()
            {
                { "user-agent", "APIMATIC 2.0" },
                { "accept", "application/json" }
            };

            //prepare the API call request to fetch the response
            HttpRequest _request = ClientInstance.Get(_queryUrl,_headers, Configuration.BasicAuthUserName, Configuration.BasicAuthPassword);

            //invoke request and get response
            HttpStringResponse _response = (HttpStringResponse) await ClientInstance.ExecuteAsStringAsync(_request);
            HttpContext _context = new HttpContext(_request,_response);
            //handle errors defined at the API level
            base.ValidateResponse(_response, _context);

            try
            {
                return APIHelper.JsonDeserialize<dynamic>(_response.Body);
            }
            catch (Exception _ex)
            {
                throw new APIException("Failed to parse the response: " + _ex.Message, _context);
            }
        }

    }
} 