/*
 * FouleFactoryApi.PCL
 *
 * This file was automatically generated by APIMATIC v2.0 ( https://apimatic.io ) on 09/14/2016
 */
using System;
using System.Collections.Generic;
using System.Dynamic;
using System.Globalization;
using System.IO;
using System.Linq;
using System.Text;
using System.Threading.Tasks;
using FouleFactoryApi.PCL;
using FouleFactoryApi.PCL.Http.Request;
using FouleFactoryApi.PCL.Http.Response;
using FouleFactoryApi.PCL.Http.Client;
using FouleFactoryApi.PCL.Exceptions;
using FouleFactoryApi.PCL.Models;

namespace FouleFactoryApi.PCL.Controllers
{
    public partial class CsvFilesController: BaseController
    {
        #region Singleton Pattern

        //private static variables for the singleton pattern
        private static object syncObject = new object();
        private static CsvFilesController instance = null;

        /// <summary>
        /// Singleton pattern implementation
        /// </summary>
        internal static CsvFilesController Instance
        {
            get
            {
                lock (syncObject)
                {
                    if (null == instance)
                    {
                        instance = new CsvFilesController();
                    }
                }
                return instance;
            }
        }

        #endregion Singleton Pattern

        /// <summary>
        /// Create new csv file
        /// </summary>
        /// <param name="file">Required parameter: Example: </param>
        /// <param name="acceptLanguage">Optional parameter: Example: fr</param>
        /// <return>Returns the dynamic response from the API call</return>
        public dynamic CreateCsvFilesCreateCsvFile(CsvFileWriterServiceModel file, string acceptLanguage = "fr")
        {
            Task<dynamic> t = CreateCsvFilesCreateCsvFileAsync(file, acceptLanguage);
            Task.WaitAll(t);
            return t.Result;
        }

        /// <summary>
        /// Create new csv file
        /// </summary>
        /// <param name="file">Required parameter: Example: </param>
        /// <param name="acceptLanguage">Optional parameter: Example: fr</param>
        /// <return>Returns the dynamic response from the API call</return>
        public async Task<dynamic> CreateCsvFilesCreateCsvFileAsync(CsvFileWriterServiceModel file, string acceptLanguage = "fr")
        {
            //the base uri for api requestss
            string _baseUri = Configuration.BaseUri;

            //prepare query string for API call
            StringBuilder _queryBuilder = new StringBuilder(_baseUri);
            _queryBuilder.Append("/v1.1/csvFiles");


            //validate and preprocess url
            string _queryUrl = APIHelper.CleanUrl(_queryBuilder);

            //append request with appropriate headers and parameters
            var _headers = new Dictionary<string,string>()
            {
                { "user-agent", "APIMATIC 2.0" },
                { "accept", "application/json" },
                { "content-type", "application/json; charset=utf-8" },
                { "Accept-Language", (null != acceptLanguage) ? acceptLanguage : "fr" }
            };

            //append body params
            var _body = APIHelper.JsonSerialize(file);

            //prepare the API call request to fetch the response
            HttpRequest _request = ClientInstance.PostBody(_queryUrl, _headers, _body, Configuration.BasicAuthUserName, Configuration.BasicAuthPassword);

            //invoke request and get response
            HttpStringResponse _response = (HttpStringResponse) await ClientInstance.ExecuteAsStringAsync(_request);
            HttpContext _context = new HttpContext(_request,_response);
            //handle errors defined at the API level
            base.ValidateResponse(_response, _context);

            try
            {
                return APIHelper.JsonDeserialize<dynamic>(_response.Body);
            }
            catch (Exception _ex)
            {
                throw new APIException("Failed to parse the response: " + _ex.Message, _context);
            }
        }

        /// <summary>
        /// Get csv file by id
        /// </summary>
        /// <param name="id">Required parameter: Example: </param>
        /// <param name="acceptLanguage">Optional parameter: Example: fr</param>
        /// <return>Returns the dynamic response from the API call</return>
        public dynamic GetCsvFilesGet(int id, string acceptLanguage = "fr")
        {
            Task<dynamic> t = GetCsvFilesGetAsync(id, acceptLanguage);
            Task.WaitAll(t);
            return t.Result;
        }

        /// <summary>
        /// Get csv file by id
        /// </summary>
        /// <param name="id">Required parameter: Example: </param>
        /// <param name="acceptLanguage">Optional parameter: Example: fr</param>
        /// <return>Returns the dynamic response from the API call</return>
        public async Task<dynamic> GetCsvFilesGetAsync(int id, string acceptLanguage = "fr")
        {
            //the base uri for api requestss
            string _baseUri = Configuration.BaseUri;

            //prepare query string for API call
            StringBuilder _queryBuilder = new StringBuilder(_baseUri);
            _queryBuilder.Append("/v1.1/csvFiles/{id}");

            //process optional template parameters
            APIHelper.AppendUrlWithTemplateParameters(_queryBuilder, new Dictionary<string, object>()
            {
                { "id", id }
            });


            //validate and preprocess url
            string _queryUrl = APIHelper.CleanUrl(_queryBuilder);

            //append request with appropriate headers and parameters
            var _headers = new Dictionary<string,string>()
            {
                { "user-agent", "APIMATIC 2.0" },
                { "accept", "application/json" },
                { "Accept-Language", (null != acceptLanguage) ? acceptLanguage : "fr" }
            };

            //prepare the API call request to fetch the response
            HttpRequest _request = ClientInstance.Get(_queryUrl,_headers, Configuration.BasicAuthUserName, Configuration.BasicAuthPassword);

            //invoke request and get response
            HttpStringResponse _response = (HttpStringResponse) await ClientInstance.ExecuteAsStringAsync(_request);
            HttpContext _context = new HttpContext(_request,_response);
            //handle errors defined at the API level
            base.ValidateResponse(_response, _context);

            try
            {
                return APIHelper.JsonDeserialize<dynamic>(_response.Body);
            }
            catch (Exception _ex)
            {
                throw new APIException("Failed to parse the response: " + _ex.Message, _context);
            }
        }

    }
} 